@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
  }
  
  /* In your global CSS file */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* This makes the content take up the available space */
}

footer {
  flex-shrink: 0; /* Prevents the footer from shrinking */
}
